<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码重置</title>
    <script src="{% static 'js/common/jquery-3.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/layer/layer.js' %}"></script>
    <script src="{% static 'js/common/csrfajax.js' %}"></script>
    <script>
        $(function () {
            var sendBtn = $('#reset-btn');
            sendBtn.click(function () {
                var password = $(":input[name='password']").val();
                var re_password = $(":input[name='re_password']").val();
                var vaild_code = $(":input[name='vaild_code']").val();
                var email = window.location.href.match(/email=(.*)/)[1].toString();
                if(password != re_password){
                    layer.tips('两次密码输入的不一致',":input[name=\'re_password\']")
                }else{
                    csrfajax.post({
                        'url':'/account/reset/',
                        'data':{
                            'password':password,
                            're_password':re_password,
                            'vaild_code':vaild_code,
                            'email':email
                        },
                        'success':function (result) {
                            if(result['code']===200){
                                {#layer.msg("邮件发送成功!");#}
                                window.location.href = "http://127.0.0.1:8000/account/signin/";
                            }else if(error['code']===403){
                                window.location.href = "http://127.0.0.1:8000/view_403/";
                            }else{
                                layer.msg(result['message']);
                            }
                        },
                        'error':function (error) {
                            layer.msg("服务器错误");
                        }
                    })
                }
            })
        })
    </script>
</head>
<body>
    <div class="container col-md-4 col-md-offset-4">
        <div class="row" style="margin-top: 50px;">
            <h1 class="page-header">密码重置</h1>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="">
                <div class="row form-group">
                    <label class="col-md-2 control-label">新密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control"  placeholder="请输入密码" name="password">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-2 control-label">重复密码</label>
                    <div class="col-md-10">
                      <input type="password" class="form-control" placeholder="请输入密码" name="re_password">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-2 control-label">邮箱验证码</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" placeholder="请输入验证码" name="vaild_code">
                    </div>
                </div>
                <button class="col-md-10 col-md-offset-2 btn btn-primary" id="reset-btn">重置</button>
            </div>
        </div>
    </div>
</body>
</html>