<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap/dist/css/bootstrap.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'adminlte/bower_components/bootstrap/dist/js/bootstrap.js' %}" media="all">
</head>
<body>
<form action="" class="form-inline">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>
</form>

<form class="layui-form">
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
      <input type="hidden" name="userid" value="{{ user.uid }}">
      <div class="layui-input-inline">
          <input type="text" name="username" value="{{ user.username }}" autocomplete="off" class="layui-input">
    </div>
      <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
        <input type="password" name="password" value="{{ user.password }}" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">手机号码</label>
      <div class="layui-input-inline">
          <input type="text" name="telephone" value="{{ user.telephone }}" autocomplete="off" class="layui-input">
    </div>
      <label class="layui-form-label">电子邮箱</label>
      <div class="layui-input-inline">
          <input type="text" name="email" value="{{ user.email }}" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择图片</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input userimg" name="user-img" id="user-img">
        </div>
        <label class="layui-input-inline layui-btn">上传头像
            <input hidden="hidden" type="file" name="file"  class="layui-upload-file" id="file-btn">
        </label>
  </div>
    <div class="form-group">
        <label class="">职位</label>
        <select name="jobs" id="" class="form-control">
            <option value="1">员工</option>
            <option value="1">经理</option>
            <option value="1">管理员</option>
        </select>
    </div>
    <div class="form-group">
        <label for="" class="control-label">简介</label>
        <textarea name="" class="form-control"></textarea>
    </div>
</form>
</body>
</html>